.content-spacing {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .spacing-bottom {
    margin-bottom: 2rem;
  }
  
  .small-spacing-bottom {
    margin-bottom: 1rem;
  }
  
  .overflow {
    overflow-x: scroll;
    max-width: 1000px;
  }
  
  .title {
    font-size: 1.75rem;
  }
  
  .card-image {
    width: 250px;
    height: 150px;
  }
  
  .center {
    margin-top: 6rem;
  }
  
  .hover-change:hover {
    cursor: pointer;
  }