.text-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}    

.scrollbuttonleft {
    position: absolute;
    top: 45%;
    width: auto;
    padding: 15px;
    color: white;
    background-color: rgba(158, 158, 158, 0.4);
}

.scrollbuttonright {
    position: absolute;
    top: 45%;
    right: 0;
    width: auto;
    padding: 15px;
    color: white;
    background-color: rgba(158, 158, 158, 0.4)
}

.scrollbuttonleft:hover, .scrollbuttonright:hover {
    background-color: rgba(158, 158, 158, 0.8);
}

.carousel-image {
    width: 900px;
    height: 400px;
}